.container {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: block;
  margin: 20px;
}
h1 {
  padding: 10px;
}
ul {
  list-style-type: none;
  font-size: 20px;
}
i {
  font-size: 25px;
  color: #0ACDFF;
}
#task {
  text-decoration: none;
  color: black;
}
.link {
  text-decoration: none;
  color: black;
  background-color: #FBDCE2;
  padding: 15px;
  border-radius: 50%;
}
.link:hover {
  color: #60AB9A;
  font-weight: bold;
  background-color: white;
}
.status {
  font-style: italic;
  font-size: 15px;
  opacity: 0.5;
}
